# --- User requests ---
data/
!data/debug/
!data/debug/**
checkpoints/
wandb/
lm/

# Build / packaging
*.egg-info/

# --- Environment & Secrets ---
.env
.venv/
env/

# --- Python & Jupyter Cache ---
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- IDE & System ---
.vscode/
.idea/
.DS_Store
